:root {
  --alpha: 1;
  --front-color: rgba(33, 33, 240,var(--alpha));
  --top-color:  rgba(255, 255, 255, var(--alpha));
  --bottom-color:  rgba(224, 174, 0, var(--alpha));
  --left-color: rgba(255, 0, 0,var(--alpha));
  --right-color: rgba(255, 80, 0,var(--alpha));
  --back-color: rgba(0, 128, 0, var(--alpha));
  --black-color: rgba(0, 0, 0, var(--alpha));
  --front:rotateX(0deg) rotateY(0deg);
  --right:rotateX(0deg) rotateY(90deg);
  --back:rotateX(0deg) rotateY(180deg);
  --left:rotateX(0deg) rotateY(270deg);
  --top:rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  --bottom:rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle, white, rgba(0, 0, 0, 0.5));
  background-color: #2f2f2f;
  background-blend-mode: overlay;
}

body h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  visibility: hidden;
}

body button {
  position: absolute;
  cursor: pointer;
}

body .btn_right {
  float: right;
  right: -150px;
  top: 150px;
}

body .btn_left {
  float: left;
  left: -150px;
  top: 150px;
}

body .btn_bottom {
  left: calc(50% - 15%);
  top: 400px;
}

body .btn_top {
  left: calc(50% - 10%);
  top: -120px;
}

body .btn_reset {
  left: -150px;
  top: -120px;
}

body .btn_left_side_up {
  left: -150px;
  top: -50px;
}

body .btn_segment-top {
  left: 350px;
  top: -50px;
}

body .scene {
  position: absolute;
  top: 300px;
  width: 300px;
  height: 300px;
  -webkit-perspective: 100em;
          perspective: 100em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .scene #cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #1b1b1b;
  font-size: xx-large;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .scene #cube .side {
  margin: 1px;
  width: 300px;
  height: 300px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: middle;
  cursor: pointer;
}

body .scene #cube #top {
  -webkit-transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(150px);
          transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg) translateZ(150px);
  -webkit-transition: inherit;
  transition: inherit;
}

body .scene #cube #front {
  -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(150px);
          transform: rotateX(0deg) rotateY(0deg) translateZ(150px);
  -webkit-transition: inherit;
  transition: inherit;
}

body .scene #cube #front h2 {
  color: white;
}

body .scene #cube #right {
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateZ(150px);
          transform: rotateX(0deg) rotateY(90deg) translateZ(150px);
  -webkit-transition: inherit;
  transition: inherit;
}

body .scene #cube #back {
  -webkit-transform: rotateX(0deg) rotateY(180deg) translateZ(150px);
          transform: rotateX(0deg) rotateY(180deg) translateZ(150px);
  -webkit-transition: inherit;
  transition: inherit;
}

body .scene #cube #back h2 {
  color: white;
}

body .scene #cube #left {
  -webkit-transform: rotateX(0deg) rotateY(-90deg) translateZ(150px);
          transform: rotateX(0deg) rotateY(-90deg) translateZ(150px);
  -webkit-transition: inherit;
  transition: inherit;
}

body .scene #cube #bottom {
  -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translateZ(150px);
          transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg) translateZ(150px);
  -webkit-transition: inherit;
  transition: inherit;
}

body .scene #cube .piece, body .scene #cube .multi_piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-transition: inherit;
  transition: inherit;
}

body .scene #cube .piece {
  height: 33%;
  width: 33%;
  background-color: var(--black-color);
  border: 0.05em solid var(--black-color);
}

body .scene #cube .sticker {
  height: 96%;
  width: 96%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  justify-self: center;
  -webkit-box-shadow: inset 0.05em 0.05em 0.2rem 0 rgba(255, 255, 255, 0.25), inset -0.05em -0.05em 0.2rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0.05em 0.05em 0.2rem 0 rgba(255, 255, 255, 0.25), inset -0.05em -0.05em 0.2rem 0 rgba(0, 0, 0, 0.25);
}

body .scene #cube .front {
  background-color: var(--front-color);
}

body .scene #cube .right {
  background-color: var(--right-color);
}

body .scene #cube .back {
  background-color: var(--back-color);
}

body .scene #cube .left {
  background-color: var(--left-color);
}

body .scene #cube .top {
  background-color: var(--top-color);
}

body .scene #cube .bottom {
  background-color: var(--bottom-color);
}

body .scene #cube .multi_piece {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #1b1b1b;
  font-size: xx-large;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .scene #cube #nb1 h2, body .scene #cube #nb2 h2, body .scene #cube #nb3 h2, body .scene #cube #nb4 h2, body .scene #cube #nb5 h2, body .scene #cube #nb6 h2, body .scene #cube #nb7 h2, body .scene #cube #nb8 h2, body .scene #cube #nb9 h2 {
  color: white;
}

body .scene #cube #nb1 {
  -webkit-transform: var(--front) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--front) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb2 {
  -webkit-transform: var(--front) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--front) translateX(0px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb3 {
  -webkit-transform: var(--front) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--front) translateX(100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb4 {
  -webkit-transform: var(--front) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--front) translateX(-100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb5 {
  -webkit-transform: var(--front) translateZ(150px);
          transform: var(--front) translateZ(150px);
}

body .scene #cube #nb6 {
  -webkit-transform: var(--front) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--front) translateX(100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb7 {
  -webkit-transform: var(--front) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--front) translateX(-100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb8 {
  -webkit-transform: var(--front) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--front) translateX(0px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb9 {
  -webkit-transform: var(--front) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--front) translateX(100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb10 h2, body .scene #cube #nb11 h2, body .scene #cube #nb12 h2, body .scene #cube #nb13 h2, body .scene #cube #nb14 h2, body .scene #cube #nb15 h2, body .scene #cube #nb16 h2, body .scene #cube #nb17 h2, body .scene #cube #nb18 h2 {
  color: white;
}

body .scene #cube #nb10 {
  -webkit-transform: var(--right) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--right) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb11 {
  -webkit-transform: var(--right) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--right) translateX(0px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb12 {
  -webkit-transform: var(--right) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--right) translateX(100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb13 {
  -webkit-transform: var(--right) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--right) translateX(-100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb14 {
  -webkit-transform: var(--right) translateZ(150px);
          transform: var(--right) translateZ(150px);
}

body .scene #cube #nb15 {
  -webkit-transform: var(--right) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--right) translateX(100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb16 {
  -webkit-transform: var(--right) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--right) translateX(-100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb17 {
  -webkit-transform: var(--right) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--right) translateX(0px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb18 {
  -webkit-transform: var(--right) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--right) translateX(100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb19 h2, body .scene #cube #nb20 h2, body .scene #cube #nb21 h2, body .scene #cube #nb22 h2, body .scene #cube #nb23 h2, body .scene #cube #nb24 h2, body .scene #cube #nb25 h2, body .scene #cube #nb26 h2, body .scene #cube #nb27 h2 {
  color: white;
}

body .scene #cube #nb19 {
  -webkit-transform: var(--back) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--back) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb20 {
  -webkit-transform: var(--back) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--back) translateX(0px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb21 {
  -webkit-transform: var(--back) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--back) translateX(100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb22 {
  -webkit-transform: var(--back) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--back) translateX(-100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb23 {
  -webkit-transform: var(--back) translateZ(150px);
          transform: var(--back) translateZ(150px);
}

body .scene #cube #nb24 {
  -webkit-transform: var(--back) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--back) translateX(100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb25 {
  -webkit-transform: var(--back) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--back) translateX(-100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb26 {
  -webkit-transform: var(--back) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--back) translateX(0px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb27 {
  -webkit-transform: var(--back) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--back) translateX(100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb28 h2, body .scene #cube #nb29 h2, body .scene #cube #nb30 h2, body .scene #cube #nb31 h2, body .scene #cube #nb32 h2, body .scene #cube #nb33 h2, body .scene #cube #nb34 h2, body .scene #cube #nb35 h2, body .scene #cube #nb36 h2 {
  color: white;
}

body .scene #cube #nb28 {
  -webkit-transform: var(--left) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--left) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb29 {
  -webkit-transform: var(--left) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--left) translateX(0px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb30 {
  -webkit-transform: var(--left) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--left) translateX(100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb31 {
  -webkit-transform: var(--left) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--left) translateX(-100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb32 {
  -webkit-transform: var(--left) translateZ(150px);
          transform: var(--left) translateZ(150px);
}

body .scene #cube #nb33 {
  -webkit-transform: var(--left) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--left) translateX(100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb34 {
  -webkit-transform: var(--left) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--left) translateX(-100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb35 {
  -webkit-transform: var(--left) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--left) translateX(0px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb36 {
  -webkit-transform: var(--left) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--left) translateX(100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb37 h2, body .scene #cube #nb38 h2, body .scene #cube #nb39 h2, body .scene #cube #nb40 h2, body .scene #cube #nb41 h2, body .scene #cube #nb42 h2, body .scene #cube #nb43 h2, body .scene #cube #nb44 h2, body .scene #cube #nb45 h2 {
  color: black;
}

body .scene #cube #nb37 {
  -webkit-transform: var(--top) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--top) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb38 {
  -webkit-transform: var(--top) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--top) translateX(0px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb39 {
  -webkit-transform: var(--top) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--top) translateX(100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb40 {
  -webkit-transform: var(--top) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--top) translateX(-100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb41 {
  -webkit-transform: var(--top) translateZ(150px);
          transform: var(--top) translateZ(150px);
}

body .scene #cube #nb42 {
  -webkit-transform: var(--top) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--top) translateX(100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb43 {
  -webkit-transform: var(--top) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--top) translateX(-100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb44 {
  -webkit-transform: var(--top) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--top) translateX(0px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb45 {
  -webkit-transform: var(--top) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--top) translateX(100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb46 h2, body .scene #cube #nb47 h2, body .scene #cube #nb48 h2, body .scene #cube #nb49 h2, body .scene #cube #nb50 h2, body .scene #cube #nb51 h2, body .scene #cube #nb52 h2, body .scene #cube #nb53 h2, body .scene #cube #nb54 h2 {
  color: black;
}

body .scene #cube #nb46 {
  -webkit-transform: var(--bottom) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--bottom) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb47 {
  -webkit-transform: var(--bottom) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--bottom) translateX(0px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb48 {
  -webkit-transform: var(--bottom) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--bottom) translateX(100px) translateY(-100px) translateZ(150px);
}

body .scene #cube #nb49 {
  -webkit-transform: var(--bottom) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--bottom) translateX(-100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb50 {
  -webkit-transform: var(--bottom) translateZ(150px);
          transform: var(--bottom) translateZ(150px);
}

body .scene #cube #nb51 {
  -webkit-transform: var(--bottom) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--bottom) translateX(100px) translateY(0px) translateZ(150px);
}

body .scene #cube #nb52 {
  -webkit-transform: var(--bottom) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--bottom) translateX(-100px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb53 {
  -webkit-transform: var(--bottom) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--bottom) translateX(0px) translateY(100px) translateZ(150px);
}

body .scene #cube #nb54 {
  -webkit-transform: var(--bottom) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--bottom) translateX(100px) translateY(100px) translateZ(150px);
}
