:root {
  --alpha: 0.6;
  --front-color: rgba(33, 33, 240, var(--alpha));
  --top-color: rgba(255, 255, 255, var(--alpha));
  --bottom-color: rgba(224, 174, 0, var(--alpha));
  --left-color: rgba(255, 0, 0, var(--alpha));
  --right-color: rgba(255, 80, 0, var(--alpha));
  --back-color: rgba(0, 128, 0, var(--alpha));
  --black-color: rgba(0, 0, 0, var(--alpha));
  --front: rotateX(0deg) rotateY(0deg);
  --right: rotateX(0deg) rotateY(90deg);
  --back: rotateX(0deg) rotateY(180deg);
  --left: rotateX(0deg) rotateY(270deg);
  --top: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  --bottom: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle, white, rgba(0, 0, 0, 0.5));
  background-color: #2f2f2f;
  background-blend-mode: overlay;
}

body h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  visibility: hidden;
}

body button {
  position: absolute;
  cursor: pointer;
}

body .btn_right {
  float: right;
  right: -150px;
  top: 150px;
}

body .btn_left {
  float: left;
  left: -150px;
  top: 150px;
}

body .btn_bottom {
  left: calc(50% - 15%);
  top: 400px;
}

body .btn_top {
  left: calc(50% - 10%);
  top: -120px;
}

body .btn_reset {
  left: -150px;
  top: -120px;
}

body .btn_left_side_up {
  left: -150px;
  top: -50px;
}

body .btn_segment-top {
  left: 350px;
  top: -50px;
}

body .wrapper {
  border: solid 2px #020202;
  background: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  overflow: hidden;
  width: 700px;
  height: 700px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

body .wrapper .scene {
  border: solid 2px red;
  position: absolute;
  width: 400px;
  height: 400px;
  -webkit-perspective: 700px;
          perspective: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper .scene .cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #1b1b1b;
  font-size: xx-large;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .scene .cube .side {
  border: solid 3px black;
  margin: 1px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  vertical-align: middle;
  cursor: pointer;
}

body .wrapper .scene .cube #top,
body .wrapper .scene .cube .top {
  background: var(--top-color);
  -webkit-transition: inherit;
  transition: inherit;
}

body .wrapper .scene .cube #front,
body .wrapper .scene .cube .front {
  background: var(--front-color);
  -webkit-transition: inherit;
  transition: inherit;
}

body .wrapper .scene .cube #front h2,
body .wrapper .scene .cube .front h2 {
  color: white;
}

body .wrapper .scene .cube #right,
body .wrapper .scene .cube .right {
  background: var(--right-color);
  -webkit-transition: inherit;
  transition: inherit;
}

body .wrapper .scene .cube #back,
body .wrapper .scene .cube .back {
  background: var(--back-color);
  -webkit-transition: inherit;
  transition: inherit;
}

body .wrapper .scene .cube #back h2,
body .wrapper .scene .cube .back h2 {
  color: white;
}

body .wrapper .scene .cube #left,
body .wrapper .scene .cube .left {
  background: var(--left-color);
  -webkit-transition: inherit;
  transition: inherit;
}

body .wrapper .scene .cube #bottom,
body .wrapper .scene .cube .bottom {
  background: var(--bottom-color);
  -webkit-transition: inherit;
  transition: inherit;
}

body .wrapper .scene .cube .piece,
body .wrapper .scene .cube .multi_piece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-transition: inherit;
  transition: inherit;
}

body .wrapper .scene .cube .piece {
  height: 33%;
  width: 33%;
  background-color: var(--black-color);
  border: 0.05em solid var(--black-color);
}

body .wrapper .scene .cube .sticker {
  height: 96%;
  width: 96%;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  justify-self: center;
  -webkit-box-shadow: inset 0.05em 0.05em 0.2rem 0 rgba(255, 255, 255, 0.25), inset -0.05em -0.05em 0.2rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0.05em 0.05em 0.2rem 0 rgba(255, 255, 255, 0.25), inset -0.05em -0.05em 0.2rem 0 rgba(0, 0, 0, 0.25);
}

body .wrapper .scene .cube .multi_piece {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #1b1b1b;
  font-size: xx-large;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .scene .cube #tile_1 h2,
body .wrapper .scene .cube #tile_2 h2,
body .wrapper .scene .cube #tile_3 h2,
body .wrapper .scene .cube #tile_4 h2,
body .wrapper .scene .cube #tile_5 h2,
body .wrapper .scene .cube #tile_6 h2,
body .wrapper .scene .cube #tile_7 h2,
body .wrapper .scene .cube #tile_8 h2,
body .wrapper .scene .cube #tile_9 h2 {
  color: white;
}

body .wrapper .scene .cube #tile_1 {
  -webkit-transform: var(--front) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--front) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_2 {
  -webkit-transform: var(--front) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--front) translateX(0px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_3 {
  -webkit-transform: var(--front) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--front) translateX(100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_4 {
  -webkit-transform: var(--front) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--front) translateX(-100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_5 {
  -webkit-transform: var(--front) translateZ(150px);
          transform: var(--front) translateZ(150px);
}

body .wrapper .scene .cube #tile_6 {
  -webkit-transform: var(--front) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--front) translateX(100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_7 {
  -webkit-transform: var(--front) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--front) translateX(-100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_8 {
  -webkit-transform: var(--front) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--front) translateX(0px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_9 {
  -webkit-transform: var(--front) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--front) translateX(100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_10 h2,
body .wrapper .scene .cube #tile_11 h2,
body .wrapper .scene .cube #tile_12 h2,
body .wrapper .scene .cube #tile_13 h2,
body .wrapper .scene .cube #tile_14 h2,
body .wrapper .scene .cube #tile_15 h2,
body .wrapper .scene .cube #tile_16 h2,
body .wrapper .scene .cube #tile_17 h2,
body .wrapper .scene .cube #tile_18 h2 {
  color: white;
}

body .wrapper .scene .cube #tile_10 {
  -webkit-transform: var(--right) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--right) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_11 {
  -webkit-transform: var(--right) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--right) translateX(0px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_12 {
  -webkit-transform: var(--right) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--right) translateX(100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_13 {
  -webkit-transform: var(--right) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--right) translateX(-100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_14 {
  -webkit-transform: var(--right) translateZ(150px);
          transform: var(--right) translateZ(150px);
}

body .wrapper .scene .cube #tile_15 {
  -webkit-transform: var(--right) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--right) translateX(100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_16 {
  -webkit-transform: var(--right) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--right) translateX(-100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_17 {
  -webkit-transform: var(--right) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--right) translateX(0px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_18 {
  -webkit-transform: var(--right) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--right) translateX(100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_19 h2,
body .wrapper .scene .cube #tile_20 h2,
body .wrapper .scene .cube #tile_21 h2,
body .wrapper .scene .cube #tile_22 h2,
body .wrapper .scene .cube #tile_23 h2,
body .wrapper .scene .cube #tile_24 h2,
body .wrapper .scene .cube #tile_25 h2,
body .wrapper .scene .cube #tile_26 h2,
body .wrapper .scene .cube #tile_27 h2 {
  color: white;
}

body .wrapper .scene .cube #tile_19 {
  -webkit-transform: var(--back) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--back) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_20 {
  -webkit-transform: var(--back) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--back) translateX(0px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_21 {
  -webkit-transform: var(--back) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--back) translateX(100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_22 {
  -webkit-transform: var(--back) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--back) translateX(-100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_23 {
  -webkit-transform: var(--back) translateZ(150px);
          transform: var(--back) translateZ(150px);
}

body .wrapper .scene .cube #tile_24 {
  -webkit-transform: var(--back) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--back) translateX(100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_25 {
  -webkit-transform: var(--back) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--back) translateX(-100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_26 {
  -webkit-transform: var(--back) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--back) translateX(0px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_27 {
  -webkit-transform: var(--back) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--back) translateX(100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_28 h2,
body .wrapper .scene .cube #tile_29 h2,
body .wrapper .scene .cube #tile_30 h2,
body .wrapper .scene .cube #tile_31 h2,
body .wrapper .scene .cube #tile_32 h2,
body .wrapper .scene .cube #tile_33 h2,
body .wrapper .scene .cube #tile_34 h2,
body .wrapper .scene .cube #tile_35 h2,
body .wrapper .scene .cube #tile_36 h2 {
  color: white;
}

body .wrapper .scene .cube #tile_28 {
  -webkit-transform: var(--left) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--left) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_29 {
  -webkit-transform: var(--left) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--left) translateX(0px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_30 {
  -webkit-transform: var(--left) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--left) translateX(100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_31 {
  -webkit-transform: var(--left) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--left) translateX(-100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_32 {
  -webkit-transform: var(--left) translateZ(150px);
          transform: var(--left) translateZ(150px);
}

body .wrapper .scene .cube #tile_33 {
  -webkit-transform: var(--left) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--left) translateX(100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_34 {
  -webkit-transform: var(--left) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--left) translateX(-100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_35 {
  -webkit-transform: var(--left) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--left) translateX(0px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_36 {
  -webkit-transform: var(--left) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--left) translateX(100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_37 h2,
body .wrapper .scene .cube #tile_38 h2,
body .wrapper .scene .cube #tile_39 h2,
body .wrapper .scene .cube #tile_40 h2,
body .wrapper .scene .cube #tile_41 h2,
body .wrapper .scene .cube #tile_42 h2,
body .wrapper .scene .cube #tile_43 h2,
body .wrapper .scene .cube #tile_44 h2,
body .wrapper .scene .cube #tile_45 h2 {
  color: black;
}

body .wrapper .scene .cube #tile_37 {
  -webkit-transform: var(--top) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--top) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_38 {
  -webkit-transform: var(--top) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--top) translateX(0px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_39 {
  -webkit-transform: var(--top) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--top) translateX(100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_40 {
  -webkit-transform: var(--top) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--top) translateX(-100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_41 {
  -webkit-transform: var(--top) translateZ(150px);
          transform: var(--top) translateZ(150px);
}

body .wrapper .scene .cube #tile_42 {
  -webkit-transform: var(--top) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--top) translateX(100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_43 {
  -webkit-transform: var(--top) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--top) translateX(-100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_44 {
  -webkit-transform: var(--top) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--top) translateX(0px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_45 {
  -webkit-transform: var(--top) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--top) translateX(100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_46 h2,
body .wrapper .scene .cube #tile_47 h2,
body .wrapper .scene .cube #tile_48 h2,
body .wrapper .scene .cube #tile_49 h2,
body .wrapper .scene .cube #tile_50 h2,
body .wrapper .scene .cube #tile_51 h2,
body .wrapper .scene .cube #tile_52 h2,
body .wrapper .scene .cube #tile_53 h2,
body .wrapper .scene .cube #tile_54 h2 {
  color: black;
}

body .wrapper .scene .cube #tile_46 {
  -webkit-transform: var(--bottom) translateX(-100px) translateY(-100px) translateZ(150px);
          transform: var(--bottom) translateX(-100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_47 {
  -webkit-transform: var(--bottom) translateX(0px) translateY(-100px) translateZ(150px);
          transform: var(--bottom) translateX(0px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_48 {
  -webkit-transform: var(--bottom) translateX(100px) translateY(-100px) translateZ(150px);
          transform: var(--bottom) translateX(100px) translateY(-100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_49 {
  -webkit-transform: var(--bottom) translateX(-100px) translateY(0px) translateZ(150px);
          transform: var(--bottom) translateX(-100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_50 {
  -webkit-transform: var(--bottom) translateZ(150px);
          transform: var(--bottom) translateZ(150px);
}

body .wrapper .scene .cube #tile_51 {
  -webkit-transform: var(--bottom) translateX(100px) translateY(0px) translateZ(150px);
          transform: var(--bottom) translateX(100px) translateY(0px) translateZ(150px);
}

body .wrapper .scene .cube #tile_52 {
  -webkit-transform: var(--bottom) translateX(-100px) translateY(100px) translateZ(150px);
          transform: var(--bottom) translateX(-100px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_53 {
  -webkit-transform: var(--bottom) translateX(0px) translateY(100px) translateZ(150px);
          transform: var(--bottom) translateX(0px) translateY(100px) translateZ(150px);
}

body .wrapper .scene .cube #tile_54 {
  -webkit-transform: var(--bottom) translateX(100px) translateY(100px) translateZ(150px);
          transform: var(--bottom) translateX(100px) translateY(100px) translateZ(150px);
}

.tst {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.521);
  -webkit-transform: rotateX(0deg) rotateY(45deg) translateZ(150px);
          transform: rotateX(0deg) rotateY(45deg) translateZ(150px);
}

.tst2 {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 145, 0, 0.568);
  -webkit-transform: rotateX(0deg) rotateY(90deg) translateZ(150px);
          transform: rotateX(0deg) rotateY(90deg) translateZ(150px);
}
